/**
*
*  Custom styling for the page
*
*/
body *,p,a,div,li,ul,span {
    font-family: 'Montserrat', sans-serif;
}

.navbar-light a.navbar-brand {
    width: 38px;
    height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #ebcb80;
}

.color-golden {
    color: #ebcb80;
}

.bg-color-grey {
background-color: #4b4b4b
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.pos-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pos-center-bottom {
    left: 50%;
    bottom: 3%;
}

.mt-10 {
    margin-top: 6rem !important;
}

.mt-11 {
    margin-top: 7rem !important;
}

.mt-12 {
    margin-top: 8rem !important;
}

.ml-6 {
    margin-left: 4rem !important;
}

.ml-7 {
    margin-left: 5rem !important;
}

.mr-6 {
    margin-right: 4rem !important;
}

.mr-7 {
    margin-right: 5rem !important;
}

.bl-1 {
    border-bottom: 1px solid #f6f6f6;
}

.icon {
    width: 55px;
    height: 44px;
}

.full-size {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.landing.jumbotron-fluid .container-fluid {
    background-image: url(../images/jumbotron-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-bg {
    width: 100%;
    height: 356px;
    background-image: url(../images/jumbotron-video-thumbnail.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.playbutton {
    width: 72px;
    height: 72px;
    background-image: url(../images/play-button.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-fluid.version-section .container-fluid {
    background-image: url(../images/version-section-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.download-btn {
    width: 210px;
    height: 48px;
    border-radius: 50px;
    background-color: #ebcb80;
}

.person {
    background-image: url(../images/placeholder-person-300x300.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 96px;
    height: 95px;
}

.quote {
    background-image: url(../images/invalid-name.svg);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 48px;
    height: 37px;
}

footer .nav-link {
    font-size: 14px;
}