/**
*
*  Custom styling for the page
*
*/

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.pos-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pos-center-bottom {
    left: 50%;
    bottom: 0%;
}

.mt-10 {
    margin-top: 6rem !important;
}

.mt-11 {
    margin-top: 7rem !important;
}

.mt-12 {
    margin-top: content: '\F3B9';
    rem !important;
}

.ml-6 {
    margin-left: 4rem !important;
}

.ml-7 {
    margin-left: 5rem !important;
}

.icon {
    width: 55px;
    height: 44px;
}

.landing.jumbotron-fluid .container-fluid {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/jumbotron-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-bg {
    width: 100%;
    height: 356px;
    background-image: url(../images/jumbotron-video-thumbnail.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.playbutton {
    width: 72px;
    height: 72px;
    background-image: url(../images/play-button.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-fluid.version-section .container-fluid {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/version-section-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.download-btn {
    width: 210px;
    height: 48px;
    border-radius: 50px;
    background-color: #ebcb80;
}